<style>
  * {
    margin: 0;
    padding: 0;
  }

  article {
    display: flex;
    justify-content: space-between;
  }

  #urn {
    width: 50%;
    margin: auto;
  }

  #urn section {
    margin: 28px;
  }

  #send {
    display: flex;
    margin: auto;
    width: 50%;
  }

  #send button {
    margin: auto;
  }
</style>

<main>
  <form id="urn" action="">
    <section>
      <article>
        <label for="bustar_dd">
          <input
            type="radio"
            id="bustar_dd"
            name="candidate"
            value="bustar_dd"
          />
          BUSTAR DD</label
        >
        <p># VOTOS</p>
      </article>

      <article>
        <label for="bustar_360">
          <input
            type="radio"
            id="bustar_360"
            name="candidate"
            value="bustar_360"
          />
          BUSTAR 360</label
        >
        <p id="number_total_votes"></p>
      </article>

      <article>
        <label for="fusion_plus">
          <input
            type="radio"
            id="fusion_plus"
            name="candidate"
            value="fusion_plus"
          />
          FUSION PLUS</label
        >
        <input id="button_votar" type="button" value="Votar" />
      </article>
    </section>

    <section>
      <article>
        <label for="bustar_dd_progress"
          >BUSTAR DD:
          <progress id="bustar_dd_progress" max="100" value="0"></progress>
        </label>
        <p><span id="bustar_dd_progress_value">0</span>%</p>
      </article>

      <article>
        <label for="bustar_360_progress">
          BUSTAR 360:
          <progress id="bustar_360_progress" max="100" value="0"></progress>
        </label>
        <p><span id="bustar_360_progress_value">0</span>%</p>
      </article>

      <article>
        <label for="fusion_plus_progress">
          FUSION PLUS:
          <progress id="fusion_plus_progress" max="100" value="0"></progress>
        </label>
        <p><span id="fusion_plus_progress_value">0</span>%</p>
      </article>
    </section>
  </form>

  <form id="send" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">SALIR</button>
  </form>
</main>

<script>
  function calculaPorcentajes(numero, total) {
    let porcentaje = Math.floor(numero * 100) / total;
    return Math.floor(porcentaje);
  }

  let total_votos = {
    bustar_dd: 0,
    bustar_360: 0,
    fusion_plus: 0,
  };

  let button_votar = document.querySelector("#button_votar");

  button_votar.onclick = () => {
    let selected = document.querySelector(
      'input[name="candidate"]:checked'
    ).value;

    total_votos[selected] += 1;
    console.log(
      total_votos,
      Object.values(total_votos).reduce((prev, curr) => (prev += curr), 0)
    );

    Object.entries(total_votos).forEach((candidate) => {
      let current = calculaPorcentajes(
        total_votos[candidate[0]],
        Object.values(total_votos).reduce((prev, curr) => (prev += curr)),
        0
      );
      document.querySelector(`#${candidate[0]}_progress`).value = current;
      document.querySelector(`#${selected}_progress_value`).textContent =
        current;
    });

    document.querySelector(`#number_total_votes`).textContent =
      total_votos[selected];
  };
</script>